  <section class="content" id="about">
    <div class="block-content">
      <h3 class="block-title">Perfil</h3>
      <img class="foto" src="../../assets/images/portfolio/masonry/luis.jpg" alt="">
      <h3 class="subheading">¡Hola! soy Luis Noe Rodriguez <strong>Programador BackEnd/FrontEnd</strong></h3>
      <p>Web Junior con más de 2 años de experiencia. Especializado en desarrollo front end y back end. Experimentado
        con todas las etapas de la ciclo de desarrollo para proyectos web dinámicos. Con un conocimiento profundo
        incluyendo HTML5 avanzado, CSS, CSS3, SASS, JSON, JavaScript, Angular JS, PHP. Fuertes antecedentes
        en gestión y liderazgo.
        </p>

        <hr>
        <p>
        Me <b>apasiona</b> crear y desarrollar productos limpios, únicos y elegantes. Me especializo en
        creación de sitios web dinamicos. Mantengo mi código limpio, legible,
        modular y
        bien refactorizado. Me gusta trabajar con interfaces de usuario modernas.
      </p>
      <div class="info-list row">
        <div class="col-sm-6"><span>Nombre : </span> Luis Noe Rodriguez</div>
        <div class="col-sm-6"><span>Fecha de Nacimiento : </span> Agosto 21, 1998 </div>
        <div class="col-sm-6"><span>Dirección : </span> Honduras, Danli, El Paraiso.</div>
        <div class="col-sm-6"><span>Email : </span> luisnoe.rodriguez09@gmail.com</div>
        <div class="col-sm-6"><span>Telefono : </span> +50497432397</div>
        <div class="col-sm-6"><span>Interes : </span> Frelance, Full-Time</div>
      </div>
    </div>
    <div class="block-content">
      <h3 class="block-title">Skills y Aptitudes</h3>
      <div *ngFor="let profex of cv.profesional">
        <label class="progress-bar-label">{{ profex.Nombre }}</label>
        <div class="progress">
          <div [style.width.%]=profex.Valor class="progress-bar" role="progressbar"
            attr.aria-valuenow="{{ profex.Valor }}" aria-valuemin="0" aria-valuemax="100">
            <span>{{ profex.Valor }}%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="block-content">
      <h3 class="block-title">Experiencia</h3>
      <div class="timeline experience">
        <div class="row">
          <div class="col-md-12">
            <div class="exp-holder">
              <div *ngFor="let expex of cv.experiencia">
                <div class="exp">
                  <div class="hgroup">
                    <h4><span>{{ expex.Empresa }}</span> - {{ expex.Cargo }}</h4>
                    <h5> {{ expex.Fecha }} </h5>
                  </div>
                  <p>{{ expex.Descripcion }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-content">
      <h3 class="block-title">Educación</h3>
      <div class="timeline education">
        <div class="row">
          <div class="col-md-12">
            <div class="exp-holder">
              <div *ngFor="let edux of cv.educacion">
                <div class="exp">
                  <div class="hgroup">
                    <h4>{{ edux.Nombre }} | <a href="{{ edux.Url }}" target="_blank"><span>Ver Certificado</span></a>
                    </h4>
                    <h5>{{ edux.Fecha }}</h5>
                  </div>
                  <p>{{ edux.Descripcion }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-content">
      <h3 class="block-title">Servicios</h3>
      <div class="row">
        <div class="col-md-4 col-sm-6 service">
          <div class="service-icon">
            <i class="ion-laptop"></i>
          </div>
          <h4>Diseño Web</h4>
          <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet.</p> -->
        </div>
        <div class="col-md-4 col-sm-6 service">
          <div class="service-icon">
            <i class="ion-pie-graph"></i>
          </div>
          <h4>Desarrollo de Aplicaciones</h4>
          <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet.</p> -->
        </div>
        <div class="col-md-4 col-sm-6 service">
          <div class="service-icon">
            <i class="ion-paintbucket"></i>
          </div>
          <h4>Diseño Grafico</h4>
          <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet.</p> -->
        </div>
        <!-- <div class="col-md-4 col-sm-6 service">
          <div class="service-icon">
            <i class="ion-printer"></i>
          </div>
          <h4>Print Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet.</p>
        </div> -->
        <!-- <div class="col-md-4 col-sm-6 service">
          <div class="service-icon">
            <i class="ion-qr-scanner"></i>
          </div>
          <h4>Graphic Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet.</p>
        </div> -->
        <!-- <div class="col-md-4 col-sm-6 service">
          <div class="service-icon">
            <i class="ion-social-buffer"></i>
          </div>
          <h4>Print Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet.</p>
        </div> -->
      </div>
    </div>
    <!--  <div class="block-content">
          <h3 class="block-title">Awards</h3>
          <div class="row">
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\1.jpeg" alt="">
              </div>
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\2.jpeg" alt="">
              </div>
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\3.jpeg" alt="">
              </div>
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\4.jpeg" alt="">
              </div>
          </div>
      </div> -->

      <div class="block-content">
        <h3 class="block-title">Referencias</h3>
        <div class="timeline refer">
          <div class="row">
            <div class="col-md-12">
              <div class="exp-holder">
                <div *ngFor="let refex of cv.referencias">
                  <div class="exp">
                    <div class="hgroup">
                      <h4><span>{{ refex.Nombre }}</span> - {{ refex.Cargo }}</h4>
                      <!--   -->
                    </div>
                    <p>{{ refex.Telefono }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="block-content">
      <h3 class="block-title">Testimonios</h3>
      <div class="row">
        <div id="liontestimonial" class="owl-carousel owl-theme">
          <div *ngFor="let testix of cv.testimonio">
            <div class="item testimonials">
              <img src="assets\images\testimonials\1.jpeg" alt="">
              <blockquote>{{ testix.Descripcion }}
                <p class="quote"><span>{{ testix.Nombre }}</span> - {{ testix.Cargo }}</p>
              </blockquote>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <p class="btn-lowercase">Desarrollado por Luis Noe Rodriguez || Todos los derechos reservados 2023</p>
      </div>
    </div>
  </section>
