<section class="content">
  <div class="block-content">
      <h3 class="block-title">Portafolio</h3>
      <div class="row">
          <div class="col-md-12">
              <div class="filters">
                  <span>Filters :</span>
                  <ul id="filters">
                      <li class="active" data-filter="*">All</li>
                      <li data-filter=".artwork">Art Work</li>
                      <li data-filter=".webdesign">Web Design</li>
                      <li data-filter=".design">Design</li>
                  </ul>
              </div>
              <div class="portfolio-container row isotope" id="portfolio-container">
                  <!-- WORK 1 START -->
                  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                      <a >
                          <div class="portfolio-column">
                              <div class="portfolio-hover">
                                  <div class="portfolio-content">
                                      <h2>ECOMMERCE</h2>
                                      <hr>

                                      <div class="cv-btn">
                                        <div class="hijo">
                                        <a href="https://luisnoerodriguez.com/ecommerce/">ir al sitio</a>
                                      </div>
                                     </div>

                                  </div>
                                  <div class="portfolio-overlay"></div>
                              </div>
                              <img src="assets\images\portfolio\masonry\ecommerce.jpg" alt="">
                          </div>
                      </a>
                  </div>
                  <!-- WORK 1 END -->

                  <!-- WORK 2 START -->
                  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                      <a >
                          <div class="portfolio-column">
                              <div class="portfolio-hover">
                                  <div class="portfolio-content">
                                      <h2>CAFETERIA</h2>
                                      <hr>

                                      <div class="cv-btn">
                                        <div class="hijo">
                                        <a href="https://luisnoerodriguez.com/cafeteria/">ir al sitio</a>
                                      </div>
                                     </div>

                                  </div>
                                  <div class="portfolio-overlay"></div>
                              </div>
                              <img src="assets\images\portfolio\masonry\cafeteria.jpg" alt="">
                          </div>
                      </a>
                  </div>
                  <!-- WORK 2 END -->


                  <!-- WORK 3 START -->
                 <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                      <a >
                          <div class="portfolio-column">
                              <div class="portfolio-hover">
                                  <div class="portfolio-content">
                                      <h2>AUDIFONOS</h2>
                                      <hr>

                                      <div class="cv-btn">
                                        <div class="hijo">
                                        <a href="https://luisnoerodriguez.com/audifonos/">ir al sitio</a>
                                      </div>
                                     </div>

                                  </div>
                                  <div class="portfolio-overlay"></div>
                              </div>
                              <img src="assets\images\portfolio\masonry\audifonos.jpg" alt="">
                          </div>
                      </a>
                  </div>
                  <!-- WORK 4 END -->


                  <!-- WORK 5 START -->
                 <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                      <a >
                          <div class="portfolio-column">
                              <div class="portfolio-hover">
                                  <div class="portfolio-content">
                                      <h2>DELIVERY</h2>
                                      <hr>

                                      <div class="cv-btn">
                                        <div class="hijo">
                                        <a href="https://luisnoerodriguez.com/delivery/">ir al sitio</a>
                                      </div>
                                     </div>

                                  </div>
                                  <div class="portfolio-overlay"></div>
                              </div>
                              <img src="assets\images\portfolio\masonry\delivery.jpg" alt="">
                          </div>
                      </a>
                  </div>
                  <!-- WORK 5 END -->
                  <!-- WORK 6 START -->
                  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                    <a >
                        <div class="portfolio-column">
                            <div class="portfolio-hover">
                                <div class="portfolio-content">
                                    <h2>PODCAST</h2>
                                    <hr>

                                    <div class="cv-btn">
                                      <div class="hijo">
                                      <a href="https://luisnoerodriguez.com/podcast/">ir al sitio</a>
                                    </div>
                                   </div>

                                </div>
                                <div class="portfolio-overlay"></div>
                            </div>
                            <img src="assets\images\portfolio\masonry\podcast.jpg" alt="">
                        </div>
                    </a>
                </div>
                  <!-- WORK 7 END -->
                  <!-- WORK 8 START -->
                  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                    <a >
                        <div class="portfolio-column">
                            <div class="portfolio-hover">
                                <div class="portfolio-content">
                                    <h2>GUITAR LA</h2>
                                    <hr>

                                    <div class="cv-btn">
                                      <div class="hijo">
                                      <a href="https://luisnoerodriguez.com/guitar/">ir al sitio</a>
                                    </div>
                                   </div>

                                </div>
                                <div class="portfolio-overlay"></div>
                            </div>
                            <img src="assets\images\portfolio\masonry\guitar.jpg" alt="">
                        </div>
                    </a>
                </div>
                  <!-- WORK 8 END -->
                  <!-- WORK 9 START -->
                  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                    <a >
                        <div class="portfolio-column">
                            <div class="portfolio-hover">
                                <div class="portfolio-content">
                                    <h2>MANDADITOS</h2>
                                    <hr>

                                    <div class="cv-btn">
                                      <div class="hijo">
                                      <a href="https://luisnoerodriguez.com/rapimandaditos/">ir al sitio</a>
                                    </div>
                                   </div>

                                </div>
                                <div class="portfolio-overlay"></div>
                            </div>
                            <img src="assets\images\portfolio\masonry\rapimandaditos.jpg" alt="">
                        </div>
                    </a>
                </div>
                  <!-- WORK 9 END -->
<!-- WORK 10 START -->
                  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                    <a >
                        <div class="portfolio-column">
                            <div class="portfolio-hover">
                                <div class="portfolio-content">
                                    <h2>MEET</h2>
                                    <hr>

                                    <div class="cv-btn">
                                      <div class="hijo">
                                      <a href="https://luisnoerodriguez.com/meet/">ir al sitio</a>
                                    </div>
                                   </div>

                                </div>
                                <div class="portfolio-overlay"></div>
                            </div>
                            <img src="assets\images\portfolio\masonry\meet.jpg" alt="">
                        </div>
                    </a>
                </div>
                <!-- WORK END 10 -->
              </div>
          </div>
      </div>
  </div>
  <div class="row text-center">
      <div class="col-md-12 btn-email">
        <p class="btn-lowercase">Desarrollado por Luis Noe Rodriguez || Todos los derechos reservados 2023</p>
      </div>
  </div>
</section>
